<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CardOrganizerWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <userSettings>
        <CardOrganizerWPF.Properties.Settings>
            <setting name="Top" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>1100</value>
            </setting>
            <setting name="Maximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScrollSpeed" serializeAs="String">
                <value>128</value>
            </setting>
            <setting name="SavedTab" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="SavedScenesCategory" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="SavedCharactersFCategory" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="SavedOutfitsFCategory" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="HSPath" serializeAs="String">
                <value>G:\Games\HoneySelect\UserData</value>
            </setting>
            <setting name="KKPath" serializeAs="String">
                <value>G:\Games\Koikatu\UserData</value>
            </setting>
            <setting name="SavedCharactersMCategory" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="SavedOutfitsMCategory" serializeAs="String">
                <value>-1</value>
            </setting>
        </CardOrganizerWPF.Properties.Settings>
    </userSettings>
</configuration>